div.radio-wrapper > div.field-wrapper {
    display: flex;
}

div.radio-wrapper > div.field-wrapper > div.field-label > label.col-form-label {
    padding-top: 0px;
}

div.dining-panel-wrapper > div.card > div.card-header{
    background-color: #f0f3f5;
    border-bottom: 1px solid #c2cfd6;
}

.dining-panel-wrapper {
    width: 85%;
}

.dining-form-field {
   width: 30%;
}

.formio-component-noOfChildren.formio-hidden {
    margin-bottom: 0;
}