<div class="col-12 bg-gray-100" *ngIf="model.actionStatus.alternateName !== 'PotentialActionStatus'">
    <div class="py-2">
      <h4>
          
        <h5 class="text-secondary">{{model.actionStatus.name}}</h5>
      </h4>
      <div class="pb-2 text-secondary">
        <span>
          <span [translate]="'CreatedAt'"></span>&nbsp;<span>{{model.dateCreated | date: 'short'}}</span>
        </span>
        <span class="ml-2">
          <span [translate]="'ModifiedAt'"></span>&nbsp;<span>{{model.dateModified | date: 'short'}}</span>
        </span>
      </div>
    </div>
  </div>
  
  <tabset #tabset class="col-12 tab-navbar tab-container">
    <tab (select)="onSelectTab($event)" heading="{{'UniversisDiningModule.PersonalInformation' | translate}}" id="personal-information">
      <ng-container *ngIf="formAction != null">
        <advanced-form-edit #form1 (change)="onDataChange($event)" [(data)]="model" [formName]="formAction">
        </advanced-form-edit>
      </ng-container>
    </tab>
    <tab heading="{{'UniversisDiningModule.DiningDocuments' | translate}}"
         [disabled]="model.actionStatus.alternateName === 'PotentialActionStatus'" #attachDocuments
         id="attach-documents" (select)="onSelectAttachDocuments()">
      <div class="col-12" *ngIf="model.actionStatus.alternateName === 'PotentialActionStatus'">
        <div class="alert alert-primary" role="alert">
          {{'TemporarySaveMessage' | translate}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <ng-container *ngIf="documents && documents.length">
        <div class="col-12">
          <p class="text-secondary">
            {{'AttachDocumentMessage' | translate}}
          </p>
        </div>
        <ng-container *ngFor="let document of documents | filterBy: ['attachmentType'] ;let i= index">
          <div class="col-12">
            <div class="mb-4 mt-4">
              <h4 class="text-secondary">{{i+1}}. {{document.attachmentType.name}}
                <span class="font-weight-normal text-lowercase text-secondary" *ngIf="document.numberOfAttachments === 0">
                  {{'Optional' | translate}}
                </span>
              </h4>
            </div>
            <ngx-dropzone class="mt-2" [multiple]="document.attachments > 1" [disableClick]="document.attachment != null"
              [accept]="'image/jpeg,image/jpg,image/png,image/gif,application/pdf'"
              (change)="onFileSelect($event, document.attachmentType)">
              <ngx-dropzone-label style="z-index: 0" class="p-2">
                <div *ngIf="document.attachmentType">{{document.attachmentType.description ||
                  document.attachmentType.name}}</div>
                <div>{{'UploadDocument' | translate}} (*.jpg,*.png,*.gif,*.pdf)</div>
              </ngx-dropzone-label>
              <ngx-dropzone-preview *ngIf="document.attachment"
                [removable]="model.actionStatus && model.actionStatus.alternateName === 'PotentialActionStatus'"
                (removed)="onFileRemove(document.attachment)">
                <ngx-dropzone-label>{{ document.attachment.name }} ({{ document.attachment.contentType }})
                </ngx-dropzone-label>
              </ngx-dropzone-preview>
            </ngx-dropzone>
          </div>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="documents && documents.length === 0">
        <div class="text-center">
          <div class="mt-5">
            <div class="icon-circle bg-gray-200 border-gray-100"></div>
          </div>
          <div class="mt-4">
            <h4 *ngIf="model.actionStatus.alternateName === 'PotentialActionStatus'" class="font-3xl font-weight-normal text-gray-300"
              [translate]="'EmptyDocumentListContinue'"></h4>
              <h4 *ngIf="model.actionStatus.alternateName !== 'PotentialActionStatus'" class="font-3xl font-weight-normal text-gray-300"
              [translate]="'EmptyDocumentList'"></h4>
          </div>
        </div>
      </ng-container>
    </tab>
    <ng-container *ngIf="messages">
      <tab id="messages">
        <ng-template tabHeading>
          <i class="far fa-comments"></i><span class="pl-2">{{'Messages' | translate}}</span>
        </ng-template>
        <div class="mt-4">
          <ng-container *ngIf="messages">
            <legend ref="header">
              <span [translate]="'Messages'"></span>
              <ng-container *ngIf="messages.length">
                <button
                  *ngIf="!showNewMessage && model && model.actionStatus && (model.actionStatus.alternateName === 'PotentialActionStatus' || model.actionStatus.alternateName === 'ActiveActionStatus')"
                  type="button" (click)="showNewMessage = true"
                  class="ml-2 btn btn-sm btn-default text-indigo d-inline text-lowercase"
                  title="{{'NewMessage' | translate}}">
                  <i class="fas fa-paper-plane"></i>
                  <span class="ml-2" [translate]="'NewMessage'"></span>
                </button>
              </ng-container>
            </legend>
            <ng-container *ngIf="showNewMessage">
              <!-- <app-compose-message (submit)="send(newMessage)" (cancel)="showNewMessage = false" [(model)]="newMessage">
              </app-compose-message> -->
            </ng-container>
            <div class="card" *ngFor="let message of messages">
              <div class="card-body">
                <div *ngIf="message.sender !== model.owner" class="text-indigo mb-2">Incoming message</div>
                <div>
                  <span class="float-right text-dark">{{ message?.dateCreated | date:'short' }}</span>
                  <div class="card-title  font-lg font-weight-normal pb-1">
                    <span *ngIf="message.subject == null" [translate]="'Register.NoSubject'"></span>
                    <span *ngIf="message.subject != null">{{message.subject}}</span>
                  </div>
                </div>
                <div class="card-text mb-0 pb-2 border-left border-left-4 border-gray-200 pl-4"
                  [innerHTML]="message.body"></div>
                <div *ngIf="message?.attachments.length>0" class="mt-2">
                  <button type="button" class="btn btn-light" (click)="downloadAttachment(message?.attachments[0])">{{
                    'DownloadFile' | translate }}</button>
                </div>
              </div>
            </div>
            <div class="card" *ngIf="messages.length === 0">
              <div class="card-body">
                <h4 class="text-secondary font-weight-normal mb-0">
                  <span [translate]="'NoMessages'"></span>
                  <button
                    *ngIf="!showNewMessage && model && model.actionStatus && (model.actionStatus.alternateName === 'PotentialActionStatus' || model.actionStatus.alternateName === 'ActiveActionStatus')"
                    type="button" (click)="showNewMessage = true"
                    class="float-right btn btn-default text-indigo text-lowercase" title="{{'NewMessage' | translate}}">
                    <i class="fas fa-paper-plane"></i>
                    <span class="ml-2" [translate]="'NewMessage'"></span>
                  </button>
                </h4>
              </div>
            </div>
  
          </ng-container>
        </div>
      </tab>
    </ng-container>
  </tabset>
  <div class="col-12 mb-4" *ngIf="activeTab && activeTab.id !== 'messages'">
    <div class="d-flex justify-content-end">
      <button type="button" *ngIf="model.actionStatus.alternateName === 'PotentialActionStatus'"
        [disabled]="(activeTab.id === 'select-courses' && !(diningRequestEvent != null && diningRequestEvent.valid == true)) || nextButtonDisabled || (activeTab.id === 'attach-documents')"
        (click)="next()" class="btn btn-theme btn-lg" [translate]="'Next'"></button>
      <button type="button" [disabled]="documentState === 'invalid'"
        *ngIf="(diningRequestEvent != null && diningRequestEvent.valid == true) && (activeTab.id === 'attach-documents') && (model.actionStatus.alternateName === 'PotentialActionStatus')"
        (click)="submit()" class="ml-2 btn btn-success btn-lg" [translate]="'Submit'"></button>
    </div>
  </div>
  
